{% extends 'base.html' %}
{% block content %}


    <div class="container-fluid-without-padding bg-1 text-center">
      <h4>What are u looking for?</h4>
    </div>

    <div class="grid-container bg-2 text-center">
        <div></div>

        <div></div>
                <form method="GET" class="post-form">{% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="save btn btn-default" name="search-button">Search</button>
         </form>
        <div>
            {% if user.is_authenticated%}
                <h4>Previous Searches From You:</h4>
            {% else %}

                <h4>Previous Searches From Other Users:</h4>
            {% endif %}
            {% for search in pre_searches%}
                <p align="center" class="bg-2">
                    <div class="post">
                   <h5><a href="?venue={{search.venue}}&location={{search.location}}" > - {{search.venue}} in {{search.location}} </a></h5>

                    </div>
                </p>
            {%endfor%}
        </div>
        <div></div>
        <div></div>

    </div>


    {% if venues_list %}
    <div class="container-fluid bg-3">

            <h3 align="center"><b>Results</b></h3>
            <table>
              <tr>

                <th>Venue</th>
                <th>Contact</th>
                <th>Total Check-in</th>
              </tr>
                {% for venue in venues_list %}
                    <tr>
                        <td><a href="venue_detail/{{venue.id}}" >{{venue.name}}</a></td>
                        <td>{{venue.phone}}</td>
                        <td>{{venue.checkin_count}}</td>
                    </tr>
                {% endfor %}
            </table>

         {% if venues_list.has_other_pages %}
          <ul class="pagination">
            {% if venues_list.has_previous %}
              <li><a href="?page={{ venues_list.previous_page_number }}&location={{searched_location}}&venue={{searched_venue}}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in venues_list.paginator.page_range %}
              {% if venues_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
              <li><a href="?page={{ i }}&location={{searched_location}}&venue={{searched_venue}}">{{ i }}</a></li>
              {% endif %}
              {% endfor %}
              {% if venues_list.has_next %}
              <li><a href="?page={{ venues_list.next_page_number }}&location={{searched_location}}&venue={{searched_venue}}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
          </ul>
        {% endif %}
    </div>
    {% elif no_results %}
        <h4 align="center" style="color:red;">No results founded</h4>
{% endif %}


{% endblock %}